@import "tailwindcss";

@layer utilities {
  .perspective-1000 {
    perspective: 1000px;
  }

  .rotate-y-12 {
    transform: rotateY(12deg);
  }

  .rotate-x-6 {
    transform: rotateX(6deg);
  }

  @media (min-width: 768px) {
    .md\:rotate-y-12 {
      transform: rotateY(12deg) rotateX(6deg);
    }
  }
}
